* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Didact Gothic', sans-serif;
}

body {
  background: #eee;
}

header {
  width: 100%;
  margin: auto -16px;
  padding: 25px 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: white;
  z-index: 10;
  position: fixed;
}

header h1 {
  font-size: 1.5rem;
}

.header-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.header-list li {
  padding: 0% 20px;
  cursor: pointer;
}

.login-btn {
  background-color: black;
  color: white;
  padding: 5px;
  margin-right: 70px;
  border-radius: 2px;
  min-width: 80px;
  outline: none;
  cursor: pointer;
  border: none;
}

.intro-div {
  height: 70vh;
  /* display: block; */
  background-color: #373B7B;
  position: relative;
}

.sky-bg {
  height: 100%;
  width: 27%;
  background-color: #B4B8FF;
  position: relative;
  left: 60%;
}

.section-container {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 100%;
  padding-top: 70px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.section-container .left-section {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10%;
  flex-direction: column;
}

.left-section p {
  font-size: 2.8rem;
}

.btn-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

.btn-container button {
  width: 48%;
  height: 40px;
  align-items: center;
  font-weight: 600;
  color: white;
}

.red-btn {
  border: none;
  background-color: #FF6868;
  cursor: pointer;
}

.red-btn:hover{
  background-color: orange;
}

.explore-btn {
  border: 1px solid white;
  background-color: #373B7B;
  cursor: pointer;
}

.explore-btn:hover{
  background-color: skyblue;
}

.bold-span {
  font-weight: 900;
}

.right-section {
  overflow: hidden;
}

.doctor-img {
  height: 100%;
  width: 80%;
}

.section-2 {
  padding: 30px 50px;
}

.section-2 h2 {
  color: grey;
}

.sponsers-container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.sponsers-container img {
  width: max(20%, 200px);
  height: 180px;
  border: 1px solid grey;
  padding: 5px;
  /* margin-top: 5px; */
}


@media  (max-width : 720px) {

  header {
    justify-content: center;
  }

  .header-list {
    /* visibility: hidden; */
    display: none;
  }

  .login-btn {
    display: none;
    /* visibility: hidden; */
  }

  .login-btn:hover{
    background-color: red;
  }

  .sponsers-container {
    justify-content: center;  
  }
}
